/* ========= FONT ========= */
@font-face {
    font-family: 'Barlow';
    src: url('../assets/font/Barlow-SemiBold.woff2') format('woff2'),
        url('../assets/font/Barlow-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 144pt Soft';
    src: url('../assets/font/Fraunces144ptSoft-Black.woff2') format('woff2'),
        url('../assets/font/Fraunces144ptSoft-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 144pt Soft';
    src: url('../assets/font/Fraunces144ptSoft-Bold.woff2') format('woff2'),
        url('../assets/font/Fraunces144ptSoft-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    /* ========= COLORS PRIMARY ========= */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    
    /* ========= COLORS NEUTRAL ========= */
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --pale: hsl(26, 100%, 99%);
    --white: hsl(0, 0%, 100%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font-a: 'Barlow';
    --body-font-b: 'Fraunces 144pt Soft';
    --biggest-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semibold: 600;
}

/*=============== REUSABLE CSS CLASSES ===============*/
/*.5rem = 8px | 1rem = 16px ...*/

.container {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*=============== HEADER ===============*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.image-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    max-width: 100%;
    height: auto;
}

.main-logo {
    cursor: pointer;
}

/*=============== NAV ===============*/
.nav {
    display: flex;
    justify-content: space-between;
}

.nav_list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav_link {
    color: var(--white);
    text-decoration: none;
    font-family: var(--body-font-a);
    font-weight: 600;
    padding-left: 4rem;
}


/*=============== MAIN ===============*/
/*=============== INTRO SECTION ===============*/
.intro {
    position: relative;
    padding-top: 10rem;
}

.intro-text {
    text-align: center;
}

.intro-text h1{
    color: var(--white);
    font-family: var(--body-font-b);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4rem;
    letter-spacing: 8px;
    margin-bottom: 6rem;
}


/*=============== GRID SECTION ===============*/
.grid-images {
    position: relative;
    top: 20rem;
    left: 0;
    right: 0;
}

.container-grid-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box-info{
    background-color: var(--pale);
    width: 50%;
    height: auto;
}

.box-text-info {
    position: relative;
    top: 20%;
    width: 57%;
    left: 15%;
}

.box-info-image,
.box-two-image {
    max-width: 100%;
    height: 100%;
}

h2 {
    font-family: var(--body-font-b);
    color: var(--very-dark-desaturated-blue);
    font-weight: 900;
    font-size: 3rem;
    line-height: 120%;
    padding-bottom: 2rem;
}

.title-detail {
    font-family: var(--body-font-a);
    color: var(--very-dark-desaturated-blue);
    line-height: 1.6;
    padding-bottom: 2rem;
}

.button-more-one,
.button-more-two {
    font-family: var(--body-font-b);
    text-transform: uppercase;
    font-weight: bold;
}

.button-more-one:hover {
    text-decoration: underline;
    cursor: pointer;
    text-decoration-color: var(--yellow);
}

.button-more-two:hover {
    text-decoration: underline;
    cursor: pointer;
    text-decoration-color: var(--soft-red);
}

.box-text-info-left {
    position: absolute;
    top: 85%;
    width: 23%;
    left: 10%;
    text-align: center;
}

.box-text-info-left h2 {
    color: var(--dark-desaturated-cyan);
}

.box-text-info-right h2 {
    color: var(--dark-blue);
}

.box-text-info-right {
    position: absolute;
    top: 85%;
    width: 23%;
    right: 10%;
    text-align: center;
}

/*=============== TESTIMONIAL SECTION ===============*/
.section {
    padding: 6rem 0 2rem;;
}

.section_title {
    text-align: center;
}

.section_title {
    font-size: 1.5rem;
    color: var(--grayish-blue);
    margin-bottom: 2rem;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.swiper-wrapper {
    display: flex;
}

.testimonial {
    background-color: var(--pale);
    position: absolute;
    top: 165rem;
    left: 0;
    right: 0;
}

.testimonial_card {
    /* background-color: var(--white); */
    padding: 1.25rem 1.5rem;
    width: 50%;
    height: auto;
    margin-bottom: 3rem;
    text-align: center;
}

.testimonial_img {
    width: 60px;
    border-radius: 3rem;
    margin-bottom: 2rem;
}

.testimonial_name {
    font-family: var(--body-font-b);
    margin-bottom: .25rem;
    color: var(--very-dark-desaturated-blue);
}

.testimonial_description_review {
    font-family: var(--body-font-a);
    color: var(--dark-grayish-blue);
    line-height: 1.6;
    margin-bottom: 2rem;
    width: 77%;
    position: relative;
    left: 10%;
}

.testimonial_description_rol {
    font-family: var(--body-font-a);
    color: var(--grayish-blue);
    line-height: 1.6;
}

/*=============== IMAGE WALL SECTION ===============*/
.wall-section {
    position: absolute;
    top: 205rem;
    left: 0;
    right: 0;
}

.image_wall_container {
    display: flex;
}

.image_wall {
    width: 25%;
    height: auto;
}

/*=============== FOOTER ===============*/

