/* ========= FONT ========= */
@font-face {
    font-family: 'Barlow';
    src: url('../assets/font/Barlow-SemiBold.woff2') format('woff2'),
        url('../assets/font/Barlow-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 144pt Soft';
    src: url('../assets/font/Fraunces144ptSoft-Black.woff2') format('woff2'),
        url('../assets/font/Fraunces144ptSoft-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 144pt Soft';
    src: url('../assets/font/Fraunces144ptSoft-Bold.woff2') format('woff2'),
        url('../assets/font/Fraunces144ptSoft-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    /* ========= COLORS PRIMARY ========= */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --light-moderate-cyan: hsl(167, 45%, 70%);
    
    /* ========= COLORS NEUTRAL ========= */
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --pale: hsl(26, 100%, 99%);
    --white: hsl(0, 0%, 100%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font-a: 'Barlow';
    --body-font-b: 'Fraunces 144pt Soft';

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semibold: 600;
    --font-black: 900;
    --font-regular: 700;
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--pale);
}

/*=============== HEADER ===============*/
/*=============== HERO SECTION ===============*/
.hero-section {
    position: relative;
}

.img-desktop {
    display: none;
    width: 100%;
}

.img-mobile {
    width: 100%;
}

.hero-text {
    position: absolute;
    top: 27%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: var(--body-font-b);
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    letter-spacing: 0.5rem;
    line-height: 2.9rem;
}

.arrow-down {
    margin-top: 4rem;
}

/*=============== NAV - MENU MOBILE ===============*/
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding: 3.2rem 2.5rem;
}

.menu-layout {
    display: none;
}

.hide {
    opacity: 0.5;
}

.hamburger {
    transition: all 0.4s ease;
}

.menu-mobile {
    position: absolute;
    top: 8rem;
    left: 6%;
    width: 88%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.menu-mobile .triangle {
    width: 0;
    height: 0;
    border-bottom: 2.5rem solid var(--white);
    border-left: 2.5rem solid transparent;
}

.menu-mobile .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    padding: 3.6rem 0;
}

.menu-mobile .nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.menu-mobile .nav-link {
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--dark-grayish-blue);
    font-family: var(--body-font-a);
}

.menu-mobile .nav-link:hover {
    color: var(--very-dark-grayish-blue);
}

.menu-mobile .btn-contact {
    font-family: var(--body-font-b);
    font-size: 1.2rem;
    font-weight: var(--font-regular);
    text-transform: uppercase;
    padding: 1.6rem 3rem;
    background-color: var(--yellow);
    margin-top: 2.5rem;
    border-radius: 3rem;
    cursor: pointer;
    color: var(--very-dark-desaturated-blue);
}

.menu-mobile .btn-contact:hover {
    color: var(--very-dark-grayish-blue);
    background-color: hsla(51, 100%, 49%, 0.5);
}

.link-contact {
    text-decoration: none;
}

/*=============== MAIN ===============*/
/*=============== MIDDLE SECTION ===============*/
.middle-section{
    position: relative;
    top: -4px;
}

.image-desktop {
    display: none;
    width: 100%;
}

.image-mobile {
    display: block;
    width: 100%;
}

.text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 3rem;
}

h2 {
    font-family: var(--body-font-b);
    font-weight: var(--font-black);
    font-size: 2.4rem;
    text-align: center;
    color: var(--very-dark-desaturated-blue);
}

.description {
    font-family: var(--body-font-a);
    font-size: 1.1rem;
    text-align: center;
    margin: 2.5rem 0 3.5rem 0;
    line-height: 2rem;
    color: var(--very-dark-grayish-blue);
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-wrapper a {
    font-family: var(--body-font-b);
    font-weight: var(--font-black);
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--very-dark-desaturated-blue);
    padding: 0 0.7rem;
}

.btn-wrapper .link-decoration {
    position: relative;
    width: 90%;
    height: 0.7rem;
    transform: translateY(-0.7rem);
    z-index: -1;
    border-radius: 0.5rem;
    opacity: 0.5;
    transition: all 0.4s ease;
}

.btn-wrapper .link-decoration.yellow {
    background-color: var(--yellow);
}

.btn-wrapper .link-decoration.red {
    background-color: var(--soft-red);
}


.btn-wrapper:hover .link-decoration {
    width: 100%;
    opacity: 1;
}

.block-wrapper {
    position: relative;
}

.block-wrapper .text-block-overlay {
    position: absolute;
    z-index: 1;
    top: 60%;
    padding: 0 2rem;
}

.block-wrapper .text-block-overlay h2 {
    font-size: 2rem;
    text-align: center;
}

.block-wrapper .text-block-overlay .description {
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.8rem;
}

.block-wrapper .text-block-overlay .green-tint {
    color: var(--dark-desaturated-cyan);
}

.block-wrapper .text-block-overlay .blue-tint {
    color: var(--dark-blue);
}

/*=============== TESTIMONIAL SECTION ===============*/
.clients-testimonial {
    padding: 6.2rem 2rem 2rem;
}

.clients-testimonial h2{
    font-weight: 900;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--grayish-blue);
}

.clients-wrapper {
    padding: 2rem 0;
}

.clients-wrapper .client {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.6rem 0;
    padding: 2rem 0.2rem;
}

.clients-wrapper .client img {
    width: 22%;
    border-radius: 50%;
}

.clients-wrapper .client .testimonial {
    font-family: var(--body-font-a);
    text-align: center;
    font-size: 1.1rem;
    color: var(--very-dark-grayish-blue);
    padding: 3.4rem 0 3.1rem 0;
    line-height: 1.8rem;
}

.clients-wrapper .client .testimonial-name {
    font-family: var(--body-font-b);
    font-weight: var(--font-black);
    font-size: 1.3rem;
    color: var(--very-dark-desaturated-blue);
}

.clients-wrapper .client .testimonial-position {
    font-family: var(--body-font-a);
    font-size: 1.2rem;
    color: var(--grayish-blue);
    padding: 1rem 0;
}

/*=============== IMAGE GALLERY SECTION ===============*/
.gallery-section {
    display: flex;
    flex-wrap: wrap;
}

.gallery-section .img-desktop-gallery {
    display: none;
    width: 100%;
}

.gallery-section .img-mobile-gallery {
    display: block;
    width: 100%;
    flex: 50%;
}

/*=============== FOOTER ===============*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5.8rem 0;
    background-color: var(--light-moderate-cyan);
}

.footer-logo {
    width: 12rem;
    filter: brightness(0) invert(39%) sepia(67%) saturate(323%) hue-rotate(118deg) brightness(90%) contrast(90%);
}

.footer-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 4.2rem 0;
    gap: 3rem;
}

.footer-menu .menu-link {
    font-family: var(--body-font-a);
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--dark-moderate-cyan);
}

.footer-menu .menu-link:hover {
    color: var(--white);
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 2.5rem;
    margin: 4rem 0 1rem;
}

.social-media a img:hover {
    filter: brightness(0) invert(100%);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: var(--light-moderate-cyan);
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--very-dark-desaturated-blue);
}


/*=============== BREAKPOINTS ===============*/
@media screen and (min-width: 1440px) {
    /*=============== NAV ===============*/
    .img-mobile {
        display: none;
    }

    .img-desktop {
        display: block;
    }

    .navbar {
        padding: 3.5rem 5rem 1rem 4rem;
    }

    .menu-layout {
        display: flex;
        position: static;
    }

    .triangle {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        list-style: none;
    }

    .nav-link {
        font-size: 1.3rem;
        text-decoration: none;
        color: var(--white);
        font-family: var(--body-font-a);
    }

    .nav-link:hover {
        text-decoration: underline;
    }

    .btn-contact {
        font-family: var(--body-font-b);
        /* font-size: 1.2rem; */
        font-weight: var(--font-regular);
        text-transform: uppercase;
        padding: 1.8rem 3rem;
        background-color: var(--white);
        border-radius: 3rem;
        margin-left: 5rem;
        cursor: pointer;
        color: var(--very-dark-desaturated-blue);
    }

    .btn-contact:hover {
        background-color: rgba(255, 255, 255, 0.3);
        color: var(--white);
    }

    .hamburger {
        display: none;
    }

    .hero-text {
        top: 24%;
    }

    h1 {
        font-size: 4rem;
    }

    .arrow-down {
        margin-top: 7rem;
    }

    /*=============== MIDDLE SECTION ===============*/
    .middle-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        top: 0px;
    }

    .middle-section .image-mobile {
        display: none;
    }

    .middle-section .image-desktop {
        display: block;
        flex: 50%;
    }

    .middle-section .text-block {
        flex: 50%;
        align-items: flex-start;
    }

    .middle-section .text-block h2 {
        font-size: 3.5rem;
        text-align: left;
    }

    .middle-section .text-block .description {
        text-align: left;
        line-height: 2rem;
        font-size: 1.2rem;
        margin: 3.2rem 0 4rem 0;
    }

    .middle-section .text-block.text-block-left {
        padding: 0 4rem 0 5rem; 
    }

    .middle-section .text-block.text-block-right {
        padding: 0 5rem 0 5rem;
    }

    .middle-section .flex-order-1 {
        order: 1;
    }

    .middle-section .flex-order-2 {
        order: 2;
    }

    .middle-section .flex-order-3 {
        order: 3;
    }

    .middle-section .flex-order-4 {
        order: 4;
    }

    .middle-section .flex-order-5 {
        order: 5;
    }

    .middle-section .flex-order-6 {
        order: 6;
    }

    .block-wrapper {
        width: 50%;
    }

    .block-wrapper.text-block-overlay {
        padding: 0 19rem;
    }

    /*=============== TESTIMONIAL SECTION ===============*/
    .clients-testimonial {
        padding: 12rem 2rem 7rem;
    }

    .clients-testimonial h2 {
        font-size: 2rem;
    }

    .clients-testimonial .clients-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        gap: 3rem;
    }

    .clients-testimonial .clients-wrapper .client {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
        width: 25.5%;
        padding: 4rem 0;
    }

    .clients-testimonial .clients-wrapper .client .testimonial {
        padding: 5.4rem 0 7rem 0;
    }

    /*=============== IMAGE GALLERY SECTION ===============*/
    .gallery-section .img-mobile-gallery {
        display: none;
    }

    .gallery-section .img-desktop-gallery {
        display: block;
        width: 25%;
    }

    .gallery-section .desktop-gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    /*=============== FOOTER ===============*/
    footer {
        padding: 5rem 0 5rem;
    }
}